{:deps true

 :builds {:plugin
          {:target    :node-library
           :exports   {:languages pez.prettier-plugin-clojure/languages
                       :parsers pez.prettier-plugin-clojure/parsers
                       :printers pez.prettier-plugin-clojure/printers}
           :output-to "dist/index.js"}
          :test
          {:target    :node-test
           :output-to "cljs-out/test/formatter-tests.js"
           :ns-regexp "-test$"
           :autorun   true}}}